body {
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue'Helvetica, sans-serif;
}

#topsection {
    background: url("../Portfolio/assets/background.jpg") no-repeat center center;
    background-size:cover;  
    height: 600px;

}


.menu {
    position: fixed;
    width: 100%;
    display: flex-end;
    align-items: stretch;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    /*padding-top: 10px;
    height: 21px;*/
    list-style: none;
    background: #696969 !important;
    transition:0.75s ease;
    
}
/*.topnav.scrolled{
    background:##696969 !important;
}*/
.menu li {
    display: inline;
    flex: 0 1 auto;
    list-style-type: disc;
    justify-content: space-evenly;
    text-decoration: none;
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
.button {
    font-size: 2em;
    font-style: bold;
    color: white;
    padding: 8px;
    text-decoration: none;
    /*opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;*/
}

.menu li:hover {
    opacity: 1;
}
.name{
    color: white;
    font-size: 60px;
   display: block;
  text-align: center;
  padding-top: 100px;
}

.scroll {
 height: 50px;	
 width: 500px;
 overflow: hidden;

}
.scroll p {
 position: absolute;
 color: white;
 margin: 1em 10em 0 10em ;
 font-size: 30px;
 width: 100%;
 height: 100%;
 line-height: 30px;
 text-align: center;
 /* Starting position */
/* -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);*/	
 transform:translateX(100%);
 /* Apply animation to this element */	
/* -moz-animation: scroll-left 25s linear infinite;
 -webkit-animation: scroll-left 25s linear infinite;*/
 animation: scroll-left 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%);/* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
hr {
    display: block; 
    margin-before: 0.5em; 
    margin-after: 0.5em; 
    margin-start: auto; 
    margin-end: auto; overflow: hidden; 
    border-style: inset; border-width: 1px;
}
#about{
    padding-top: 0;
    background-color: #dcdcdc;
    
}
#abouttitle{
    text-align: center;
    
    
}

.aboutinfo{
   display: inline-flex;
  
}
#headshotpic{
    height: 400px;
    width: 370px;
    
}
.headshot{
    padding: 0 2.0em 1rem 1.5em;
    border-radius: 0;
}
.aboutmeinfo{
    padding: 0 2.0em 1rem 1.5em;
    border-radius: 0;
}

#infotitle{
    font-size: 30px;
    
}
section#portfolio{
    background-color: darkgray;
}
#portfoliotitle{
    text-align: center;
}
section#portfolio{
 padding: 1.5em  2.0em 2.0em 1.5em;
 display: inline-block;
 /*border-radius: 0;
 box-shadow: 1px 1px 5px #777;*/
 width: 100%;
 display: flex-end;
    align-items: stretch;
    text-align: center;
    justify-content: space-evenly;
    /*display: flex-end;
    align-items: stretch;
    text-align: center;
    /*justify-content: space-evenly;*/
    align-items: center;
    background-color: #d3d3d3;
}
div.portfolioinfo{
    text-align: inline-block;
}

section div.portlink {
    margin: 1em  2.0em;
    padding: 1.5em  2.0em 2.0em 1.5em;
    display: inline-block;
    background-color: white;
    border-radius: 0;
    box-shadow: 1px 1px 5px #777;
       border-style: solid;
}
.projecttitles{
    text-align: center;
    
}
/*.contact{
    background-color: #c0c0c0;
    display: flex-end;
    align-items: stretch;
    text-align: center;
    justify-content: space-evenly;
}
p.contactbox{
    margin: 1em  2.0em;
    padding: .5em  .5em .5em .5em;
    display: inline-block;
    border-radius: 0;
    box-shadow: 1px 1px 5px #777;
       border-style: solid;
}
/*p.messagebox{
    width: 766px;
    height: 300px;
    margin: 1em  2.0em;
    padding: .5em  .5em .5em .5em;
    display: inline-block;
    border-radius: 0;
    box-shadow: 1px 1px 5px #777;
       border-style: solid;*/
}
/*#Message{
    height: 300px;
    font-size:14pt;

}
.contactbox{
    margin: 1em  2.0em;
    padding: .5em  .5em .5em .5em;
    display: inline-block;
    /*border-radius: 0;
    box-shadow: 1px 1px 5px #777;
       border-style: solid;
}*/
.form-style-8{
    background-color:#e5e4e2;
    display: flex-end;
    align-items: stretch;
    text-align: center;
    justify-content: space-evenly;
	/*font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;*/
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

form{
    background-color:#e5e4e2;
}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
    font-weight: 100;
    padding: .5em  .5em .5em .5em;
	/*padding: 20px;
	margin: -30px -30px 30px -30px;*/
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="phone"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 1px 1px 1px 1px #808080;
	-webkit-box-shadow: inset 1px 1px 1px 1px #808080;
	box-shadow: inset 1px 1px 1px 1px #808080;
	background-color: #dcdcdc;
	border: 1px solid #c0c0c0;
	display: inline-block;
	cursor: pointer;
	color: #808080;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	margin: 0 .5em 2.0em;
 padding: .6em  .6em .6em .6em;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, darkgray 5%, darkgray 100%);
	background-color:gray;
}
.github{
    width: 10px;
    height: 10px;
}
.iconify { 
    color: black;
    width: 4em;
    height: 4em;
 }

p.socials{
    background-color:#e5e4e2;
    margin: -.5em -1em -.5em 0em;
    padding: 0 0 .5em 0;
    align-items: stretch;
    text-align: center;
    justify-content: space-evenly;
    /*align-items: center;
    text-align: center;
    justify-content: space-evenly;*/
}
.copyright{
    text-align: center;
}